  
a:hover  {
    background-color: #00b8f0;
    color: gold;
    cursor: pointer;
}
td:hover  {
    color: lightgreen;
    cursor: pointer;
}

th {
    background-color: #00b8f0; 
    width: 111px;
    padding: 5.5px;
    border: 2px solid#FFF;
    margin: 0px;
    box-sizing: border-box;
}
td {
    background-color:#0af7f7;
    padding: 1.5px;
    border: 1.5px solid #000;
    box-sizing: border-box;
}
#one {
    width: 55px;
    box-sizing: border-box;
}


